<div class="container text-center">
    <div class="row">
      <section class="col-3">
        <p><b>Общая информация</b></p>
        <br />
        <p>&copy; Dealhub Все права защищены</p>
      </section>
      <section class="col-6">
        <p><b>Контакты</b></p>
        <p><a href="https://t.me/dhproru" target="_blank">Наш телеграм-канал</a></p>
        <p><a href="https://vk.com/dhproru" target="_blank">Группа ВК</a></p>
      </section>
      <section class="col-3">
        <p><b>Финансовые услуги от dhpro.ru</b></p>
        <p><a href="{% url 'osago' %}">Оформление ОСАГО онлайн</a></p>
        <p><a href="{% url 'debetcard' %}">Подбор дебетовой карты</a></p>
        <p><a href="{% url 'creditcard' %}">Подбор кредитной карты</a></p>
        <p><a href="{% url 'hypothec' %}">Ипотека</a></p>
        <p><a href="{% url 'microcredit' %}">Микрокредиты</a></p>
        <p><a href="{% url 'credit' %}">Кредит наличными</a></p>
        <p><a href="{% url 'rco' %}">Расчетно-кассовое обслуживание</a></p>
        <p><a href="{% url 'deposit' %}">Вклады и накопительные счета</a></p>
      </section>
    </div>
  </div>